<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<body class="m-2">
  <h1 class="text-2xl font-bold">Computed Signals</h1>

  <p>{{ username() }}</p>
  <p>{{ count() }}</p>
  <br>

  @if (displayHeading) {
    <h1 class="text-xl font-bold bg-green-600">Page heading</h1>
  }
  <br>

  <button
    (click)="username.set('Soman')"
    class="border bg-gray-300 cursor-pointer active:bg-gray-500"
  >
    Update username
  </button><br>
  <button
    (click)="toggleValue()"
    class="border bg-gray-300 cursor-pointer active:bg-gray-500"
  >
    Toggle Value
  </button>
</body>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
